
@import 'styles/colors';

$navAreaHeight: 7%;
$navAreaWidth: 7%;
$border-radius: 20px;


#mainFrame {
  width: 100vw;
  height: 100vh;

  @media (min-width: 768px) {
    height: 100vh;
  }
}

#navArea {
  background: #007991;  /* fallback for old browsers */
  background: linear-gradient(145deg, $rich-black-fogra-29, $blue-ncs);
  height: 100%;
  width: 100%;
  position: relative;

  .topNavLeft {
    display: flex;
    align-items: center;
    padding-top: .5rem;

    .links {
      display: flex;
      z-index: 100;

      .link {
        margin: 1rem;
        font-size: 1.5rem;
        text-shadow: 2.5px 2.5px 2.5px rgba(#000, 0.4);
      }
    }
  }



  #pageContents {
    border-radius: $border-radius;
    background: $rich-black-fogra-29;
    overflow-y: scroll;
    height: 75%;
    max-width: 95%;
    margin-left: auto;
    margin-right: 1rem;

    @media (min-width: 768px) {
      box-shadow: 5px 5px 5px rgba(black, 0.6);
    }
  }
}
