#detailSection {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 25%;
    grid-template-rows: 60%;
    height: 100%;

    .chart {
      grid-row-start: 1;
      grid-column-start: 2

    }
  }

}