$border-radius: 2rem;

@mixin morph {
  margin: 2rem 1rem;
  padding: 1rem 1rem 0 1rem;
  border-radius: 45px;
  background: #031927;
  box-shadow:  11px 11px 22px #020f17,
  -11px -11px 22px #042337;
}